html,
body {
  background: hsl(var(--color-bg));
  font-family: var(--font-sans);
  font-size: 100%;
  font-weight: 400;
  line-height: var(--font-lineheight-0);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.hidden {
  display: none;
}

h2 {
  font-family: var(--font-manrope);
  font-size: var(--step-2);
  color: hsl(var(--color-text));
  line-height: var(--font-lineheight-2);
  border-bottom: 1px solid hsl(var(--color-primary) / 0.2);
}

.success {
  background-color: hsl(var(--color-success) / 0.5);
  color: white;
  font-size: var(--step-0);
  padding: var(--space-m);
  border-radius: var(--space-s);
  margin-block: var(--space-m);
}

.danger {
  background-color: hsl(var(--color-danger) / 0.5);
  color: white;
  font-size: var(--step-0);
  padding: var(--space-m);
  border-radius: var(--space-s);
  margin-block: var(--space-m);
}

.secondary--bg {
  background-color: hsl(var(--color-secondary) / 0.3) !important;
  color: hsl(var(--color-text)) !important;
  &:hover {
    color: hsl(var(--color-secondary)) !important;
  }
}
