.footer {
  margin-top: var(--space-l);
  width: 100%;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    hsl(var(--color-bg-footer) / 0.7)
  );
  background-color: hsl(var(--color-bg-footer) / 0.7);
  padding-top: var(--space-l);
}

.footer__container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.footer__blocks {
  display: flex;
  gap: var(--space-l);

  @media (max-width: 64em) {
    flex-direction: column;
  }
}

.footer__logo {
  & img {
    width: 150px;
  }
  & p {
    font-size: var(--step-0);
    color: hsl(var(--color-footer-text) / 0.6);
    line-height: var(--font-lineheight-2);
  }
}

.footer__menu {
  & li {
    padding-block: var(--space-3xs);
  }
  & a {
    color: hsl(var(--color-footer-text) / 0.6);
    font-size: var(--step-0);
    text-decoration: none;
    &:hover {
      color: hsl(var(--color-footer-text) / 0.9);
    }
  }
}

.footer__down {
  margin-top: var(--space-m);
  padding: var(--space-s) 0;
  background-color: hsl(var(--color-bg-footer) / 0.6);
  color: hsl(var(--color-footer-text) / 0.6);
  font-size: var(--step-0);
  border-top: 1px solid hsl(var(--color-bg-footer));
}
